<footer role="contentinfo" class="footer">
  <p><small>ObsessionPlace © {{date format="YYYY"}}. All Rights Reserved. 
      <a href="http://www.miitbeian.gov.cn/" style="margin-left: 12px; font-size:12px; color: #gray;" target="_blank">陕ICP备16002825号</a>
  </small></p>
  <p><small><a href="http://ghostium.oswaldoacauan.com/" target="_blank">Ghostium Theme</a> by <a href="http://twitter.com/oswaldoacauan" target="_blank">@oswaldoacauan</a></small></p>
  <p><small>Proudly published with <a href="http://ghost.org" target="_blank">Ghost</a></small></p>
</footer>
